<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>579617414383-u6oak0be28fho4ujsegivegtgfogerrr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.579617414383-u6oak0be28fho4ujsegivegtgfogerrr</string>
	<key>API_KEY</key>
	<string>AIzaSyDyFL8_iFuQ-ApqkVkN_EVBHmKNSNaeknc</string>
	<key>GCM_SENDER_ID</key>
	<string>579617414383</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>bepolite</string>
	<key>PROJECT_ID</key>
	<string>testpro-cb30a</string>
	<key>STORAGE_BUCKET</key>
	<string>testpro-cb30a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:579617414383:ios:c4b337e9cc76a8cb2f8f1a</string>
	<key>DATABASE_URL</key>
	<string>https://testpro-cb30a.firebaseio.com</string>
</dict>
</plist>